*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 125%; /* 20px */
}

body {
    margin: 0;
    background: linear-gradient(
        to right,
        #f4a261 0% 33%,
        #e9c46a 33% 66%,
        #e76f51 66% 100%
    );
}
